<span *ngFor="let item of navService.navList">
  <app-nav-item [item]=item></app-nav-item>
</span>

<span>
  <button (click)="authService.loginWithGoogle()">Login With Google</button>
  <button (click)="authService.logout()">Logout</button>
</span>

<div>
  <input placeholder="email" [(ngModel)]="email" >
  <input type="password" placeholder="password" [(ngModel)]="pass" >
  <button (click)="signUp()">SignUP</button>
</div>

<div>
  <input placeholder="email" [(ngModel)]="email" >
  <input type="password" placeholder="password" [(ngModel)]="pass" >
  <button (click)="login()">Login</button>
</div>

